a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
body {
    font-family: 'Roboto', 'Raleway', 'Montserrat', sans-serif;
    color: #434455;
    background-color: #fcfcfc;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.accent {
    color: #4d5ae5;
}
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;  
    text-transform: uppercase;
}
.nav-links {
    font-weight: 500;
}
.studio-link:hover, .link:hover {
    color: #404bbf;
}
.studio-link:active {
    text-decoration-line: underline;
}
.top-section {
    color: #ffffff;
    background-color: #2e2f42;
    text-align: center;
}
.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
}
.the-button {
    cursor: pointer;
    color: #ffffff;
    background-color: #4d5ae5;
    font-weight: 500;
    letter-spacing: 0.04em;
}
.the-button:hover {
    background-color: #404bbf;
}
.title-two {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}
.title-three {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.bottom-section {
    background-color: #2e2f42;
}